@font-face {
  font-family: 'Inter Var';
  src: url('../../public/fonts/Inter/Inter-VariableFont_slnt,wght.ttf');
}

@font-face {
  font-family: 'Overpass Var';
  src: url('../../public/fonts/Overpass/Overpass-VariableFont_wght.ttf');
}
